img {
    width: 100%;
}

.fa-solid {
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
}

.fa-bars {
    font-size: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
}

.first-sec {
    background-image: url(./images/home.png);
    height: 765px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    margin-top: 20px
}

.container {
    height: 768px;
    width: 813px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
    color: black;
    font-size: 30px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
}

.container p {
    font-weight: 200;
}

.get-started {
    display: inline-block;
    padding: 8px 30px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    font-family: sans-serif;
    cursor: pointer;
}

.get-started:hover {
    background-color: navy;
}        
img {
    width: 100%;
}
header {
    display: flex;
    height: 90px;
    padding: 0.1rem 4rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    width: 138px;
    height: 90px;
    flex-shrink: 0;
    background: url(./images/logo3.svg) rgba(255, 255, 255, 0.90) 50% / cover no-repeat;
    /* background-blend-mode: color-dodge; */
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-shrink: 0;
    list-style: none;
}

.nav-link li {
    display: inline;
    margin-right: 15px;
}

.nav-link a {
    color: #000;
    font-family: "Gayathri", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav-link a.active {
    border-bottom: 1px solid #3A478D;
    color: #3A478D;
}

.nav-link a:hover {
    color: #3A478D;
}

.hamburger-menu {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: #3A478D;
}

.first-sec {
    background-image: url(./images/home.png);
    height: 765px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    margin-top: 20px
}

.container {
    height: 768px;
    width: 813px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
    color: black;
    font-size: 30px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
}

.container p {
    font-weight: 700;
}

.get-started {
    display: inline-block;
    padding: 8px 30px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    font-family: sans-serif;
    cursor: pointer;
}

.get-started:hover {
    background-color: navy;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
    font-family: sans-serif;
    color: darkblue;
}

footer hr {
    border: 0;
    height: 1px;
    background: darkblue;
    margin: 20px 5%;
}

/* Modal Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.modal {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* width: 320px; */
    width: 60%;
    max-width: 60%;
    max-height: 90vh;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

#modal-content {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.modal .form-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}

.modal .form-group div {
    width: 60%;
}

.modal label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.modal input,
.modal select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal .submit-btn {
    width: 100%;
    padding: 12px;
    background: #3A478D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.partner-options {
    text-align: center;
}

.partner-options .button {
    cursor: pointer;
    background-color: #d3d3d3;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

.partner-options .button:hover {
    background-color: #b3b3b3;
}

.button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #d3d3d3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.button:hover {
    background-color: #b3b3b3;
    transition: background 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        margin: 3rem auto 0 auto;
        padding: 5px 10px;
        font-size: 34px;
    }

    header {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4rem;
        /* max-width: 600px; */
    }

    header .logo {
        width: 120px;
        height: 60px;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        background: #3A478D;
        color: white;
        text-align: center;
        padding: 10px 0;
        display: none;
    }

    .nav-link a {
        color: white;
    }

    .nav-link {
        flex-direction: column;
        gap: 15px;
    }

    .hamburger-menu {
        display: block;
    }

    /* Show menu when active */
    .menu.active {
        display: flex;
    }

    .first-sec {
        height: 765px;
        margin-top: 20px
    }

    .container {
        height: 100vh;
        width: 100%;
        max-width: 700px;
        margin-left: 20px;
        margin-top: 40px;
        align-items: center;
    }

    .overlay {
        top: 40px;
    }

    .modal {
        top: 60%;
        left: 50%;
        z-index: 1000;
        /* width: 320px; */
        width: 100%;
        max-width: 500px;
    }


    .modal .form-group {
        width: 100%;
    }

    .modal .form-group div {
        width: 80%;
    }

    #modal-content {
        width: 100%;
    }

    .close-btn {
        font-size: 40px;
    }

    .modal .submit-btn {
        width: 100%;
        padding: 12px;
        background: #3A478D;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (max-width: 400px) {
    header {
        height: 4rem;
        width: 100%;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
    }

    .hamburger-menu {
        margin: 40px auto 0 auto;
    }

    header .logo {
        width: 120px;
        height: 60px;
        margin-left: -20%;
    }

    .first-sec {
        overflow: hidden;
        height: 120vh;
    }

    .overlay {
        height: 120vh;
        width: 100%;
    }

    .container h1 {
        font-size: 32px;
        width: 100%;

    }

    .container {
        margin: 1rem auto 0 auto;
        padding: 3rem 20px;
        height: 100vh;
    }

    .titlebox {
        width: 100%;
        max-width: 300px;
    }

    .titlebox p {
        font-size: 20px;
        font-weight: 600;
    }

    .modal {
        width: 70%;
        max-width: 70%;
        top: 65%;
        overflow-y: auto;
    }

    .form {
        width: 100%;
    }

    .container {
        width: 100%;
    }
    
    .close-btn {
        margin-top: -10px;
        font-size: 28px;
        margin-left: 20px;
    }

    #modal-content {
        width: 100%;
        gap: 10px;
        margin-bottom: 10px;
        overflow-y: auto;
    }

    .modal .form-group {
        width: 100%;
    }

    .modal .form-group div {
        width: 80%;
    }
}
    /* Modal Styles */
/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: auto;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.modal .form-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}

.modal .form-group div {
    width: 50%;
}

.modal label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.modal input,
.modal select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal .submit-btn {
    width: 100%;
    padding: 12px;
    background: #374151;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.partner-options {
    text-align: center;
}

.partner-options .button {
    cursor: pointer;
    background-color: #d3d3d3;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

.partner-options .button:hover {
    background-color: #b3b3b3;
}

.button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #d3d3d3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.button:hover {
    background-color: #b3b3b3;
    transition: background 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

} */