* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 100px;
    /* padding: 0.1rem 4rem; */
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    width: 138px;
    height: 90px;
    flex-shrink: 0;
    background: url(../images/logo3.svg) rgba(255, 255, 255, 0.90) 50% / cover no-repeat;
    /* background-blend-mode: color-dodge; */
}

.fa-solid {
    /*margin-left: 50px;
    margin-bottom: 50px; */
    font-size: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
}

.fa-bars {
    font-size: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-shrink: 0;
    list-style: none;
}

.nav-link li {
    display: inline;
    margin-right: 15px;
}

.nav-link a {
    color: #000;
    font-family: "Gayathri", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav-link a.active {
    border-bottom: 1px solid #3A478D;
    color: #3A478D;
}

.nav-link a:hover {
    color: #3A478D;
}

.hamburger-menu {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: #3A478D;
}

.first-sec {
    height: 90vh;
    background-image: url(../images2/Subtract.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    border-radius: 20px;
    position: relative;
}

.icon img {
    margin-left: 100px;
    width: 50px;
    height: 45px;
    margin-top: 80px;
}

.message {
    position: absolute;
    bottom: -2%;
    left: 80%;
}

.message img {
    width: 100%;
}

.text {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
}

.text h1 {
    font-size: 50px;
}

.text p {
    font-size: 23px;
}

.sec-2 {
    height: 30vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.sec-2-div {
    width: 100%;
}

.sec-2-div h4 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.sec-2-div p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
}

.list {
    height: 70px;
    width: 90%;
    margin-inline: auto;
}

.list ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: Gayathri;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.list a {
    text-decoration: none;
    color: #000;
}

a.li {
    font-family: Gayathri;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-bottom: 1px solid #3A478D;
    color: #3A478D;
}

.sec-3 {
    /* height: 190vh; */
    display: flex;
    width: 90%;
    margin-inline: auto;
    /* height: 200vh; */
    gap: 60px;
    margin-bottom: 50px;

}

.div-1 {
    /* height: 100%; */
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.first-div {
    width: auto;
    height: 146px;
    border-radius: 20px;
    border-width: 1px;
    background: #FBFDFE;
    border: 1px solid #A6A6A6;
    box-shadow: 0px 4px 6px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.one {
    width: 63px;
    height: 63px;
    top: 30px;
    left: 32px;
    gap: 10px;
    border-radius: 60px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    text-align: center;
    color: #FBFDFE;
    background: #392F56;
}
.one-F {
    width: 63px;
    height: 63px;
    top: 30px;
    left: 32px;
    gap: 10px;
    border-radius: 60px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    text-align: center;
    color: #FBFDFE;
    background: #108E66;
}
.three {
    width: 63px;
    height: 63px;
    top: 30px;
    left: 32px;
    gap: 10px;
    border-radius: 60px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    text-align: center;
    color: #FBFDFE;
    background: #220AA7;

}
.four {
    width: 63px;
    height: 63px;
    top: 30px;
    left: 32px;
    gap: 10px;
    border-radius: 60px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    text-align: center;
    color: #FBFDFE;
    background: #700B76;


}


.two {
    width: 80%;
    height: 60px;
    gap: 10px;
    border-radius: 20px;
    padding-block: 5px;
    background: #DEE2E8;
    text-align: justify;
    border: 1px solid #5E5858
}

.two p {
    width: 297px;
    /* height: 20px; */
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 15px;
    margin-left: 20px;

}

.second {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    border-width: 1px;
    background: #FBFDFEE5;
    border: 1px solid #A6A6A6;
}

.second-div-1 {
    width: 80%;
    height: 20%;
    border-radius: 20px;
    border-width: 1px;
    background: #FBFDFE;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    gap: 40px;
}

.name {
    margin-top: 15px;
}

.name h5 {
    width: 116px;
    height: 20px;
    top: 42px;
    left: 143px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000E5;
    margin-bottom: 5px;
}

.name p {
    width: 103px;
    height: 17px;
    top: 71px;
    left: 143px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #00000080;

}

.second-div-2 p {
    width: 90%;
    top: 109px;
    left: 39px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    margin-inline: auto;
    margin-top: 25px;
}

.second-div-3 {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
    justify-content: left;
    align-items: center;
    display: flex;
    gap: 20px;
}

.likes {
    width: 70px;
    display: flex;
    justify-content: center;
    gap: 6px;
    border: 1px solid #00000040;
    padding: 6px;
    border-radius: 35px;
}

.icons {
    font-size: 20px;
    color: #3A478D;
}

.div-2 {
    /* height: 100%; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.con-1 {
    height: 43%;
    width: 100%;
    margin-inline: auto;
    border: 1px solid #A6A6A624;
    border-radius: 15px;
    box-shadow: 0px 4px 6px 0px #00000026;

}

.con-2 {
    height: 58%;
    width: 100%;
    margin-inline: auto;
    border: 1px solid #A6A6A624;
    border-radius: 15px;
    box-shadow: 0px 4px 6px 0px #00000026;

}

.con-1 h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-block: 10px;
    text-align: start;
    margin-left: 30px;
}

.con-child {
    width: 80%;
    display: flex;
    gap: 10px;
    margin-inline: auto;
    margin-bottom: 10px;
}

.con-child-image {
    width: 40%;
    height: 100%;
}

.con-child-image img {
    width: 100%;
    height: 100%;
}

.con-child-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    letter-spacing: 0;
}

.con-child-text p {
    width: 100%;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0%;
    margin-bottom: 5px;

}

.con-child-text a {
    text-align: left;
}
hr {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 5px;
    background-color: #A6A6A6;
}
.con-2 h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-block: 10px;
    text-align: justify;
    margin-left: 30px;
}
.con-2 .con-child-image {
    width: 46%;
    height: 100%;
}