/* menu */

header {
    display: flex;
    height: 90px;
    padding: 0.1rem 4rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    width: 138px;
    height: 90px;
    flex-shrink: 0;
    background: url(../images/logo3.svg) rgba(255, 255, 255, 0.90) 50% / cover no-repeat;
    /* background-blend-mode: color-dodge; */
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-shrink: 0;
    list-style: none;
}

.nav-link li {
    display: inline;
    margin-right: 15px;
}

.nav-link a {
    color: #000;
    font-family: "Gayathri", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav-link a.active {
    border-bottom: 1px solid #3A478D;
    color: #3A478D;
}

.nav-link a:hover {
    color: #3A478D;
}

.hamburger-menu {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: #3A478D;
}

@media (max-width: 900) {

}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        margin: 3rem auto 0 auto;
        padding: 5px 10px;
        font-size: 34px;
    }

    header {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4rem;
        /* max-width: 600px; */
    }

    header .logo {
        width: 120px;
        height: 60px;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        background: #3A478D;
        color: white;
        text-align: center;
        padding: 10px 0;
        display: none;
    }

    .nav-link a {
        color: white;
    }

    .nav-link {
        flex-direction: column;
        gap: 15px;
    }

    .hamburger-menu {
        display: block;
    }

    /* Show menu when active */
    .menu.active {
        display: flex;
    }
}

@media (max-width: 400px) {
    header {
        height: 4rem;
        width: 90%;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        max-width: 300px;
    }

    .hamburger-menu {
        margin: 40px auto 0 auto;
    }

    header .logo {
        width: 120px;
        height: 60px;
        margin-left: -20%;
    }
    /* .hamburger-menu {
        display: block;
        margin-left: 40%;
    }

    header .logo {
        width: 120px;
        height: 60px;
        margin-left: -20%;
    }

    header {
        height: 4rem;
        width: 100%;
        align-items: center;
        gap: 30px;
    }

    .nav-link {
        gap: 10px;
    } */
}

/* index styling */
